

#mainRobot{
    display: flex;
    align-items: center;
    flex-direction: column;

}

#head{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
#torso{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
.legs{
    height: 50px;
    width: 40px;
    border: 1px solid black;
}
.arms{
    height: 40px;
    width: 60px;
    border: 1px solid black;
}
#shinji{
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

#mainMan{
    display: flex;
    align-items: center;
    flex-direction: column;

    
}
#face{
    height: 30px;
    width: 30px;
    border: 1px solid black;
}
#chest{
    height: 30px;
    width: 30px;
    border: 1px solid black;
}
#feet{
    height: 30px;
    width: 30px;
    border: 1px solid black;
}


.display{
    display: flex;
    justify-content: space-evenly;

}

.bottomStyle{
    flex-direction: row;
    margin: 0 0 0 3px; 
    padding: 3px 5px;
    position: relative;
    border-bottom: 4px solid black;
}

.trueLetter{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    visibility: hidden;
    
}

.show{
    display: block;
}

form{
    margin-left: 50%;
    padding: 5px;
}
